.transactions {
  position: relative;
    height: 713px;
    width: 375px;
    background: linear-gradient(173.28deg, #3CBAF0 -1.33%, #1957C7 51.75%);
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 38px 22px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 1px 1px 38px 22px rgba(34, 60, 80, 0.22);
    box-shadow: 1px 1px 38px 22px rgba(34, 60, 80, 0.22);

    .ellipse{
      position: absolute;
      width: 136px;
      height: 136px;
      right: 0px;
      top: -10px;
      mix-blend-mode: screen;
    }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 49px;
            width: 100%;
            padding-bottom: 57px;

            a{
                display: block;
                text-decoration: none;
                color: #FFFFFF;
                margin-left: 35px;
                font-size: 30px;
                line-height: 30px;
            }

            h2{
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                margin-right: auto;
                margin-left: 17%;
                
            }
        }

    .tContainer{
        width: 327px;
        max-height: 80%;
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 

        &::-webkit-scrollbar{
            display: none;
        }
        

        .elementContainer{
            width: 100%;
            height: 80px;
            background: #FEFEFE;
            box-shadow: 0px 10px 25px rgba(202, 211, 221, 0.3);
            border-radius: 20px;
            margin-bottom: 8px;
            a{
                display: flex;
            flex-direction: row;
            justify-content: space-between;

            }
        
            .elementWrapper{
                display: flex;
                flex-direction: column;
                margin: 21px 0 22px 30px;
                width: 98px;
        
                .title{
                    display: block;
                    width: 72px;
                    height: 21px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.01em;
                    text-align-last: left;
                }
        
                .date{
                    display: block;
                    width: 98px;
                    height: 15px;
                    font-weight: 400;
                    font-size: 10px;
                    letter-spacing: 0.01em;
                    color: #0000008c;
                    text-align-last: left;
                }
        
                
            }
            
            .price{
                display: block;
                width: 80px;
                font-weight: 600;
                font-size: 14px;
                line-height: 32px;
                text-align: right;
                letter-spacing: 0.01em;
                padding: 22px 30px 30px 0;
                }
        }
    }

    .add{
        width: 50px;
        height: 50px;
        margin: 90px 0 36px;
        background: #ffffff5e;
        border-radius: 15px;
        border: 0;
        color: #fff;
        font-size: 30px;
        &:hover{
          background-color: #ffffff49;
        }
    }
} 

a{
    text-decoration: none;
    color: #000;
}


.background{
    position: absolute;
    top: 60%;
    left: 35%;

  .form {
    height: 200px;
    position: absolute;
    left: -60px;
    top: -21px;
    -webkit-box-shadow: 1px 2px 14px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 2px 14px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 2px 14px 4px rgba(34, 60, 80, 0.2);    
    
    form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    & > *{
      border: 1px solid rgba(2, 2, 36, 0.605);
      border-radius: 4px;
      margin-bottom: 2px;
    }

    & > *::placeholder{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.07em;
      color: #00000069;
    }

    textarea{
      height: 60px;
    }
    select, option{
      background-color: rgb(177, 177, 177);
      font-family: 'Poppins';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.07em;
      color: #00000069;
      text-transform: uppercase;
    }

    input{
      height: 30px;
    }

    input:hover::placeholder{
      background-color: rgba(76, 93, 205, 0.545);
    }

    button{
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      height: 30px;
      background-color: rgb(224, 224, 224);
      text-transform: uppercase;
      &:hover{
        background-color: rgba(224, 224, 224, 0.667);
      }
    }
    

  }
}

}
